<div class="container top-buffer">

         <div data-ng-hide="message == ''"  class = "alert alert-danger">
        {{message}}
        </div>
        <div class="container" style = "text-align: center;">
            <h1>Login here!</h1>
        </div>

        <form name = "loginForm">

        <div class="container-fluid col-md-8" >
            
                <label style = "padding-top: 8px"><b>Username</b></label>
                <input type="text" style = "width:95%" placeholder="Enter Username" name="unserName" data-ng-model="loginData.userName" required>
                <label style = "padding-top: 8px"><b>Password</b></label>
                <input type="password" style = "width:95%" placeholder="Enter Password" name="password" data-ng-model="loginData.password" required>
                <button type="submit" style = "width:95%" ng-disabled="form.$invalid || vm.dataLoading" data-ng-click="login()">Login</button>
                    
        </div>
    </form>
        <div class="container-fluid col-md-4">
            <h2 class="form-login-heading">Social Logins</h2>
            <p>Or you can login using one of the social logins bleow</p>
            <button style="background: #3C5B97; color:white; padding: 10px;" class="btn btn-large btn-facebook btn-block" ng-click="registerWithFacebook()" >
                <span class="fa fa-facebook"></span> Sign in with facebook
            </button>
            <div id="status">
            </div>
        </div>

   </div>

<div class="container" style="background-color:#f1f1f1">
           <a href="../#signup" class="btn btn-link">Register</a>
</div>

