<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header"><h1>My Blogs</h1></div>
                <div class="container-fluid" ng-repeat="blog in blogs track by $index" >
                    <h2 class= "page-header">{{blog.title}}</h2>
                    <blockquote> {{blog.blog_Content}}</blockquote>
                    <button type="button" class="btn btn-info btn-lg" href="/#edit">Edit</button>
 <!--                    <a href="/#edit">Register</a> -->
                    <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#deleteModal"> Delete </button>
                </div>
            </div>
    </div>
</div>