<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>My Blogs</h1> 
                <button type="button" class="btn btn-primary " style="width: 125px" data-toggle="modal" ng-click = "clearFeilds()" data-target="#addModal">
                    Add new Blog
                </button>
            </div>
            <div class="container-fluid" ng-repeat="blog in blogs track by $index" >
                    <h2 class= "page-header">{{blog.title}}</h2>
                    <blockquote ng-if="!blog.isReadMore" class="col-md-8"> {{blog.blog_Content.length > 150 ? blog.blog_Content.substring(0,150) : blog.blog_Content}}<span ng-if="blog.blog_Content.length>150"ng-click="readMore(blog)">... Read More</span></blockquote>
                    <blockquote ng-if="blog.isReadMore" class="col-md-8"> {{blog.blog_Content}}</blockquote>
                    <button type="button" id = {{blog.bid}} class="btn btn-info btn-lg col-md-2 btn-sm" data-toggle="modal" data-target="#editModal"  ng-click="getBlogToEdit(blog.bid)">Edit</button>
                   <button type="button" id = {{blog.bid}} class="btn btn-lg btn-danger col-md-2 btn-sm" data-toggle="modal" data-ng-click ="deleteBlog(blog.bid)"> Delete </button>
                    </div>
                    <!-- Edit Bolg Model BOX -->
                    <!-- Modal -->
                    <div class="modal fade" id="editModal" role="dialog">
                      <div class="modal-dialog">
                  
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h1 class="modal-title" style = "text-align: center">Edit Blog</h1>
                          </div>
                          <div class="modal-body">
                             <div class="form-group" >
                              <label for="title">Title:</label>
                              <input type="text" class="form-control" name="title" placeholder="Title" ng-model="newBlog.title"  required>
                              <label for="lastName">Content</label>
                               <textarea class="form-control" rows="10" name="blog_Content" ng-model="newBlog.blog_Content"  placeholder = "What is in your mind ?" required></textarea>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary"  data-dismiss="modal" data-ng-click ="editBlog(newBlog)">Save</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>        
                        </div>
                      </div>
            </div>
        </div>
    </div>
</div>

<!-- Add new Bolg Model BOX -->

    <!-- Modal -->
    <div class="modal fade" id="addModal" role="dialog">
      <div class="modal-dialog">
  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title" style = "text-align: center">Add new Blog</h1>
          </div>
          <div class="modal-body">
             <div class="form-group" >
              <label for="title">Title:</label>
              <input type="text" class="form-control" name="title" placeholder="Title" ng-model="newBlog.title"  required>
              <label for="lastName">Content</label>
               <textarea class="form-control" rows="10" name="blog_Content" ng-model="newBlog.blog_Content"  placeholder = "What is in your mind ?" required></textarea>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary col-md-4"  style="float: right !important" data-dismiss="modal" data-ng-click ="addBlog(newBlog)">Save</button>
              <button type="button" class="btn btn-default col-md-4"  style="float: right !important" data-dismiss="modal">Close</button>
            </div>
          </div>        
        </div>
      </div>
    </div>

<!-- Delete Bolg Model BOX -->

<div class="container" style="display:inline-block">
      <div class="modal fade" id="deleteModal" role="dialog">
          <div class="modal-dialog">              
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title" style = "text-align: center">DELETE</h1>
                      </div>
                      <div class="modal-body">
                     <strong>Confirm Delete ?</strong> 
                   </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click ="deleteBlog(blog.bid)">Ok</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
              
          </div>
      </div>      
  </div>

