<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CyberGroup Blog</a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li ng-class="{ active: isActive('/') }"><a href="/#">Feed</a></li>
            <li ng-if="currentUser" ng-class="{ active: isActive('/myblogs') }"><a href="/#myblogs">My Blogs</a></li>
            <li ng-if="!currentUser" ng-class="{ active: isActive('/login') }"><a href="/#login">Login</a></li>
            <li ng-if="!currentUser" ng-class="{ active: isActive('/signup') }"><a href="/#signup">Register</a></li>
            <li ng-if="currentUser" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{currentUser}}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-if="currentUser"> <a href="" data-ng-click="logOut()">Logout</a></li>
                </ul>
            </li>            
        </ul>
    </div>
</nav>