body {
    margin: 0;
    padding: 0;
    /*font-family: 'Oswald', sans-serif !important; */
    font-family: 'Abel', sans-serif !important;
    overflow-x: hidden;
    background: #F2F6F9;
}

.card {
    box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.1);
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

.top-buffer {
    margin-top: 30px;
}

.size{
    width: 70%;
    height: 60%;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] , input[type=email] {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}

.registerbtn{
    background-color:#f1f1f1 , width:90%
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

span.readmore{
    font-size: 15px;
     color : blue;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.modal-title {
  line-height: @modal-title-line-height;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 2px solid red ; 
}

div.search-container input[type=text]{
    width: 70%;
    margin: 3px 2px 2px;
    height: 30%;
    box-sizing: content-box;
    border: 40% solid #ccc;
    right: 50%;
    border-radius: 5%;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.jpg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
}
